/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */
body{
    font-family:'Open Sans', sans-serif;
}